.input__container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #aaa;

  & input {
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: text;
  }


  &-placeholder {
    position: absolute;
    top: calc(50%);
    left: 14px;
    transform: translateY(-50%);
    transition: top .3s ease;
  }

  & input:valid+&-placeholder,
  & input:focus+&-placeholder {
    top: 10px;
  }

  & input {
    border-radius: 3px;
    background:
      linear-gradient(90deg, map-get($custom-colors, "myorange"), map-get($custom-colors, "myorange")) center bottom/0 2px no-repeat,
      linear-gradient(90deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) left bottom/100% no-repeat !important;
    transition: background-size .4s ease .1s;
  }

  & input:valid,
  & input:focus {
    background-size: 100% 2px, 100% !important;
  }

  &-validation-message {
    position: absolute;
    left: 14px;
    bottom: -3px;
    font-size: 14px;
    color: map-get($theme-colors, "danger") !important;
  }

  &-ico {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-weight: bold;
  }
}